<h1 mat-dialog-title>Add New Student</h1>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Fill First Name:</mat-label>
      <input matInput [(ngModel)]="data.firstName" #firstName ="ngModel" required>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors.required">
          First Name is required !!!
        </div>
        <div *ngIf="firstName.errors.minlength">
          First Name must be  !!!
        </div>
      </div>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Fill Last Name:</mat-label>
      <input matInput [(ngModel)]="data.lastName" #lastName ="ngModel" required>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div *ngIf="lastName.errors.required">
          First Name is required !!!
        </div>
        <div *ngIf="lastName.errors.minlength">
          First Name must be  !!!
        </div>
      </div>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Fill Score:</mat-label>
      <input type="number" min="0" max="10" matInput [(ngModel)]="data.score">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-primary" (click)="onNoClick()" style="margin: 5px 5px">Cancel</button>
    <button mat-button class="btn btn-primary" style="margin: 5px 5px" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>