<p *ngIf="!listData"><em>Loading data...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="listData">
  <thead>
    <tr>        
      <td></td>
      <th *ngFor="let column of columns">{{column.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listData">
      <td><input type="checkbox" [(ngModel)]="data.id" [checked]=false></td> 
      <td *ngFor="let column of columns">{{ data[column.key] ? data[column.key] : ''}}</td>
    </tr>
  </tbody>
</table>

<jw-pagination [items]="dataSource" [pageSize]='3' (changePage)="onChangePage($event)"></jw-pagination>