<h1 id="tableLabel">List Students</h1>

<p>This component demonstrates students data from the server.</p>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Full Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" class="checkbox">
        <input type="checkbox" id="student{{student.id}}">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.firstName+' '+ student.lastName  }}</td>
      <td>{{ student.score }}</td>
    </tr>
  </tbody>
</table>
